
@model dynamic
@* ReSharper disable once Mvc.ActionNotResolved *@
@* ReSharper disable Mvc.ActionNotResolved *@
@{
    var id = Model.GetType().GetProperty("id").GetValue(Model, null);
    var isAction = Model.GetType().GetProperty("action");
    var isPermission = Model.GetType().GetProperty("permission");
    if (isPermission == null)
    {
        if (TempData.ContainsKey("isDelete") && (bool)TempData["isDelete"])
        {
            if (isAction == null)
            {
                <button type="button" class="btn bg-gradient-danger  deleteOne" data-url-back="@Url.Action($"Index")"  asp-action="Delete" asp-route-id="@id"><i class="fal fa-solid fa-trash"></i> Xóa</button>
            }
            else
            {
                var actionController = Model.GetType().GetProperty("action").GetValue(Model, null);
                <button type="button" class="btn bg-gradient-danger  deleteOne" data-url-back="@Url.Action($"Index")"   asp-action="@actionController" asp-route-id="@id"><i class="fal fa-solid fa-trash"></i> Xóa</button>
            }
        }
    }
    else
    {
        bool isDelete = Model.GetType().GetProperty("permission").GetValue(Model, null);
        if (isDelete)
        {
            if (isAction == null)
            {
                <button type="button" class="btn btn-danger  deleteOne" data-url-back="@Url.Action($"Index")"  asp-action="Delete" asp-route-id="@id"><i class="fal fa-solid fa-trash"></i> Xóa</button>
            }
            else
            {
                var actionController = Model.GetType().GetProperty("action").GetValue(Model, null);
                <button type="button" class="btn btn-danger  deleteOne" data-url-back="@Url.Action($"Index")"  asp-action="@actionController" asp-route-id="@id"><i class="fal fa-solid fa-trash"></i> Xóa</button>
            }
        }
    }
}
@* ReSharper restore Mvc.ActionNotResolved *@
