@using CMS_EF.Models.Products
@using CMS_Access.Repositories.Products
@using CMS_Lib.Util
@using CMS.Areas.Products.Const
@using CMS.Config.Consts
@model CMS.Models.ModelContainner.ModelCollection

@{
    ViewData["Title"] = "Quản lý sản phẩm";
    string namePage = "Xem chi tiết sản phẩm";
    string subName = "Quản lý sản phẩm";
    string subName1 = "Danh sách sản phẩm";
    var Product = Model.GetModel<Products>("Product");
    var Purpose = Model.GetModel<string>("Purpose");
    var Category = Model.GetModel<List<string>>("Category");
    var Images = Model.GetModel<List<ProductImage>>("Images");
    var ListPro = Model.GetModel<List<ProductPrList>>("ListPro");
    var ListS = Model.GetModel<List<ProductSimilar>>("ListS");
    var isWareHouse = Model.GetModel<bool>("isWareHouse");
}

@functions
{
    string BindCensorshipStatus(int? status)
    {
        if (ProductCensorshipConst.Pending.Status.Equals(status))
        {
            return $"<span class='status badge bg-secondary text-dark p-2'>{ProductCensorshipConst.Pending.Name}</span>";
        }
        if (ProductCensorshipConst.Approved.Status.Equals(status))
        {
            return $"<span class='status badge bg-success text-dark p-2'>{ProductCensorshipConst.Approved.Name}</span>";
        }
        if (ProductCensorshipConst.NotApproved.Status.Equals(status))
        {
            return $"<span class='status badge bg-danger text-dark p-2'>{ProductCensorshipConst.NotApproved.Name}</span>";
        }
        return "";
    }
}

<section class="content-header">
    <div class="container-fluid subname">
        <div class="row">
            <div class="col-sm-6 ">
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item">
                        <a >@subName</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <a class="active" asp-area="Products" asp-action="Index">@subName1</a>
                    </li>

                </ol>
            </div>
            <div class="col-sm-6">
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
<div class="container-fluid">
<div class="row">
<div class="col-md-12">
<div class="card">
<div class="card-header ">
    <p class="card-title namePageText">@namePage</p>
    <div class="float-right">
        @{
            if (isWareHouse)
            {
                <button type="button" class="btn bg-gradient-info wareHouseSync" asp-action="WhHouseByProductIdSync" asp-route-id="@Product.Id"><i class="fa-solid fa-arrows-rotate"></i> Đồng bộ kho</button>
            }
        }
        @await Html.PartialAsync("Partial/BasicAction/Edit", new {id = Product.Id})
        @await Html.PartialAsync("Partial/BasicAction/Delete", new {id = Product.Id})
    </div>
</div>
<div class="card-body">
<div class="row">
<div class="col-md-12">
<div class="card">
<div class="card-header m-0 pb-0 border-bottom-0 headerColor">
    <div class="col-12">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item active">
                <a class="nav-link active" data-toggle="tab" href="#tab-1" aria-expanded="True">Thông tin cơ bản</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-2" aria-expanded="false"> Mô tả chi tiết</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-3" aria-expanded="false"> Thông số kĩ thuật</a>
            </li>
        </ul>
    </div>
</div>
<div class="card-body">
<div class="tab-content row">
<div id="tab-1" class="tab-pane active col-12">
<div class="row">
<div class="col-xs-12 col-md-8 col-lg-9">
    <div class="form-horizontal">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="col-md-3 col-xs-3">Mã hàng</label>
                    <div class="col-md-9 col-xs-9">
                        <span class="control-label">@(Product.Sku ?? "")</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="col-md-3 col-xs-3">Tên mặt hàng</label>
                    <div class="col-md-9 col-xs-9">
                        <span class="control-label">@(Product.Name ?? "")</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="col-md-3 col-xs-3">Danh mục sản phẩm</label>
                    <div class="col-md-9 col-xs-9">
                        <span class="control-label">
                            @foreach (var item in Category)
                            {
                                @Html.Raw(CmsFunction.GetLayoutBackground(item, "#5a82c0"))
                            }
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="col-md-3 col-xs-3">Mục đích sử dụng</label>
                    <div class="col-md-9 col-xs-9">
                        <span class="control-label">
                            @Purpose
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-12  pt-3">
                @if (Images != null && Images.Count > 0)
                {
                    <div class="row ">
                        <span class="col-12">Danh sách ảnh phụ:</span>
                    </div>
                    <div class="row d-flex justify-content-center  borderUploadMany no-gutters">
                        @foreach (var item in Images)
                        {
                            <div class="col-2 pt-3 pb-3  d-flex justify-content-center ">
                                <div class="img">
                                    <img src="@(item.Link + "?w=100")" class="imgC"/>
                                </div>
                            </div>
                        }

                    </div>
                }

            </div>
            <div class="col-12 pt-3">
                <div class="card">
                    <div class="card-header">
                        Thông tin bán hàng
                    </div>
                    <div class="card-body">
                        <div class="row  d-flex justify-content-center">
                            @if (ListPro.Count > 0)
                            {
                                @foreach (var item2 in ListPro)
                                {
                                    <div class="col-12 pb-3">
                                        <div class="row">
                                            <label class="col-2">Nhóm phân loại</label>
                                            <div class="col-8">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <div class="form-group row">
                                                            <span class="col-md-3 col-xs-3">Tên nhóm phân loại: </span>
                                                            <div class="col-md-9 col-xs-9">
                                                                <span class="control-label">
                                                                    @item2.Name
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <span class="col-md-3 col-xs-3">Tên nhóm phân loại: </span>
                                                            <div class="col-md-9 col-xs-9">
                                                                <span class="control-label">
                                                                    @foreach (var item3 in item2.ListValueName)
                                                                    {
                                                                        @Html.Raw(CmsFunction.GetLayoutBackground(item3, "#5a82c0"))
                                                                    }
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="col-12 pb-3">
                                    <div class="col-12 pb-3">
                                        <div class="row pb-3">
                                            <label class="col-2">Tồn kho</label>
                                            <div class="col-10"> @CmsFunction.NumberFormatShow((ListS[0].QuantityWh ?? 0)) </div>

                                        </div>
                                        <div class="row  pb-3">
                                            <label class="col-2">Mã kho hàng</label>
                                            <div class="col-10">@(ListS[0].Skuwh ?? "")</div>
                                        </div>
                                        <div class="row">
                                            <label class="col-2">Giá bán (đồng)</label>
                                            <div class="col-10">
                                                @CmsFunction.NumberFormatShow(ListS[0].Price ?? 0)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            @if (ListPro != null && ListPro.Count > 0)
                            {
                                <div class="col-12 pb-3">
                                    <div class="row">
                                        <label class="col-12">Danh sách phân loại hàng </label>
                                        <div class="col-12">
                                            <div class="table-responsive tablePaddingTop">
                                                <table class="table tab-content table-bordered table-check-all table-hover  table-bordered-index  ">
                                                    <thead style="background-color: #ddd">
                                                    <tr>
                                                        <th class="">Tên</th>
                                                        <th class="text-center">Mã kho hàng</th>
                                                        <th class="text-center">Giá (đồng)</th>
                                                        <th class="text-center">Tồn kho</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    @if (ListS.Count > 0)
                                                    {
                                                        @foreach (var item in ListS)
                                                        {
                                                            <tr>
                                                                <td class="align-middle">
                                                                    <div class="m-b-sm">
                                                                        @item.Name
                                                                    </div>
                                                                </td>

                                                                <td class="align-middle col-md-3 text-center">
                                                                    @item.Skuwh
                                                                </td>
                                                                <td class="align-middle text-right col-md-2">
                                                                    @CmsFunction.NumberFormatShow(item.Price)
                                                                </td>
                                                                <td class="text-right align-middle col-md-2">
                                                                    @CmsFunction.NumberFormatShow(item.QuantityWh)
                                                                </td>
                                                            </tr>
                                                        }
                                                    }

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>
<div class="col-md-4 col-lg-3">
    <div class="row">
        <div class="col-md-12">
            <div class="card file-group">
                <div class="card-body">
                    <div class="form-group row">
                        <label >Ảnh </label>
                        <div class="col-lg-12 col-md-12 col-sm-12 ">
                            <img src="@(Product.Image + "?w=350")" class="m-b-10" style="width: 100%" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-md-6 col-xs-6">Cân nặng (g)</label>
                        <div class="col-md-6 col-xs-6">
                            @CmsFunction.NumberFormatShow(Product.Weight)
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-6 col-xs-6">Giá gốc (đồng)</label>
                        <div class="col-md-6 col-xs-6">
                            @CmsFunction.NumberFormatShow(Product.PriceSale)
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-6 col-xs-6">Giới tính</label>
                        <div class="col-md-6 col-xs-6">
                            @(ProductSexConst.GetProductSex(Product.ProductSex.Value))
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-6 col-xs-6">Độ tuổi</label>
                        <div class="col-md-6 col-xs-6">
                            @Product.ProductAge
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-6 col-xs-6">Đơn vị</label>
                        <div class="col-md-6 col-xs-6">
                            @Product.Unit
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-md-5 col-xs-5">Sản phẩm nổi bật</label>
                        <div class="col-md-7 col-xs-7">
                            <div class="switch">
                                <div class="onoffswitch">
                                    @if (Product.IsHot ?? false)
                                    {
                                        <input type="checkbox" checked="" disabled=""/>
                                    }
                                    else
                                    {
                                        <input type="checkbox" disabled=""/>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-5 col-xs-5">Sản phẩm mới</label>
                        <div class="col-md-7 col-xs-7">
                            <div class="switch">
                                <div class="onoffswitch">
                                    @if (Product.IsNew ?? false)
                                    {
                                        <input type="checkbox" checked="" disabled=""/>
                                    }
                                    else
                                    {
                                        <input type="checkbox" disabled=""/>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-5 col-xs-5">Sản phẩm bán chạy</label>
                        <div class="col-md-7 col-xs-7">
                            <div class="switch">
                                <div class="onoffswitch">
                                    @if (Product.IsBestSale ?? false)
                                    {
                                        <input type="checkbox" checked="" disabled=""/>
                                    }
                                    else
                                    {
                                        <input type="checkbox" disabled=""/>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-5 col-xs-5">Sản phẩm khuyến mãi</label>
                        <div class="col-md-7 col-xs-7">
                            <div class="switch">
                                <div class="onoffswitch">
                                    @if (Product.IsPromotion ?? false)
                                    {
                                        <input type="checkbox" checked="" disabled=""/>
                                    }
                                    else
                                    {
                                        <input type="checkbox" disabled=""/>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                     <div class="form-group row">
                        <label class="col-md-5 col-xs-5">Trạng thái</label>
                        <div class="col-md-7 col-xs-7">@Html.Raw(CMS.Areas.Categories.Const.StatusConst.BindStatus(Product.IsPublic))</div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-5 col-xs-5">Duyệt giá, mã SP</label>
                        <div class="col-md-7 col-xs-7">@Html.Raw(BindCensorshipStatus(Product.Org1Status))</div>
                    </div>
                     @if (Product.Org1Status == ProductCensorshipConst.NotApproved.Status)
                     {
                         <div class="form-group row">
                             <label class="col-md-5 col-xs-5">Nội dung yêu cầu</label>
                             <div class="col-md-7 col-xs-7">@Product.Org1Comment</div>
                         </div>
                     }
                     <div class="form-group row">
                         <label class="col-md-5 col-xs-5">Duyệt nội dung SP</label>
                         <div class="col-md-7 col-xs-7">@Html.Raw(BindCensorshipStatus(Product.Org2Status))</div>
                     </div>
                     @if (Product.Org2Status == ProductCensorshipConst.NotApproved.Status)
                     {
                         <div class="form-group row">
                             <label class="col-md-5 col-xs-5">Nội dung yêu cầu</label>
                             <div class="col-md-7 col-xs-7">@Product.Org2Comment</div>
                         </div>
                     }
                    <div class="form-group row">
                        <label class="col-md-5 col-xs-5">Duyệt hình ảnh, màu sắc, thương hiệu</label>
                        <div class="col-md-7 col-xs-7">@Html.Raw(BindCensorshipStatus(Product.Org3Status))</div>
                    </div>
                    @if (Product.Org3Status == ProductCensorshipConst.NotApproved.Status)
                    {
                        <div class="form-group row">
                            <label class="col-md-5 col-xs-5">Nội dung yêu cầu</label>
                            <div class="col-md-7 col-xs-7">@Product.Org3Comment</div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
</div>

</div>
<div id="tab-2" class="tab-pane  col-12">
    <div class="card">
        <div class="card-body">

            <div class="form-group row">
                <label class="col-md-2 col-xs-2">Mô tả ngắn</label>
                <div class="col-md-10 col-xs-10">
                    @Html.Raw(@Product.Lead)
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-xs-2">Mô tả</label>
                <div class="col-md-10 col-xs-10">
                    @Html.Raw(@Product.Description)
                </div>
            </div>
        </div>

    </div>
</div>
<div id="tab-3" class="tab-pane  col-12">
    <div class="card">
        <div class="card-body">
            <div class="form-group row">
                <label class="col-md-2 col-xs-2">Thông số kĩ thuật</label>
                <div class="col-md-10 col-xs-10">
                    @Html.Raw(@Product.Specifications)
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

</div>

</div>
</div>
</div>

</div>
</div>
</div>
</div>
</section>

@section Styles
{
    <link rel="stylesheet" href="~/css/Product/detail.css"/>

}

@section Scripts
{
    <link rel="stylesheet" href="~/lib/bootstrap-toggle/css/bootstrap-toggle.min.css"/>
    <script type="text/javascript" src="~/lib/bootstrap-toggle/js/bootstrap-toggle.min.js"></script>
    <script type="text/javascript">
        $('.onoffswitch input[type="checkbox"]').bootstrapToggle({
            on: 'Hiện',
            off: 'Ẩn',
            size: 'mini',
            onstyle: "success",
            offstyle: "secondary"
        });
    </script>
    <script type="text/javascript">
    $(".wareHouseSync").click(function (e) {
        let url = $(this).attr('formaction');
        let urlRedirect = $(this).attr('data-url-back');
        Swal.fire({
            title: 'Bạn có chắc chắn muốn đồng bộ số lượng và giá trong kho hàng sang hệ thống @(AppConst.AppName) không?',
            type: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Đồng ý',
            confirmButtonColor: '#ed5565',
            cancelButtonText: 'Thoát'
        }).then((result) => {
            if (result.value) {
                UserInterface.prototype.showLoading();
                $.ajax({
                    type: 'POST',
                    url: url,
                    dataType: 'json',
                    data: {},
                    headers: {
                        RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
                    },
                    success: function (response) {
                        UserInterface.prototype.hideLoading();
                        if (response.msg === "successful") {
                            if (urlRedirect !== undefined) {
                                window.location.href = urlRedirect;
                            } else {
                                window.location.reload();
                            }
                        } else {
                            UserInterface.prototype.showFlashMessageError(response.content)
                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        UserInterface.prototype.hideLoading();
                    }
                });
            } else if (result.dismiss === Swal.DismissReason.cancel) {
                return false;
            }
        });
    });
    
    </script>
}