@using CMS.Extensions.HtmlTag
@using CMS.Areas.Admin.ViewModels.Home.OrderDetail
@using CMS.Areas.Orders.Const
@using CMS_Lib.Util
@using DocumentFormat.OpenXml.Wordprocessing
@{
    var data = (List<OrderDetailViewModel>)
    Model.GetType().GetProperty("orderDetail").GetValue(Model, null);
}
@{
    if (Model.GetType().GetProperty("permission") != null && data.Count > 0 )
    {
        var isShow = Model.GetType().GetProperty("permission").GetValue(Model, null);
        var isShowDetail = Model.GetType().GetProperty("permissionDetail").GetValue(Model, null);
        if (isShow == true)
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="row d-flex align-items-stretch flex-row">
                        @foreach (var item in data)
                        {
                            <div class="col-md-3 col-lg-3 col-12 ">
                              
                                <div class="@("small-box " + OrderStatusConst.GetColor(item.Type))">
                                    <div class="inner">
                                        <h3 class="text-uppercase text-white font-weight-bold font-size-16 pt-2 pb-2">@(item.Name)</h3>
                                        <div class="row">
                                            <div class="col-4 col-sm-5">
                                                <span class="font-size-12 text-uppercase  text-white ">Số đơn</span>
                                            </div>
                                            <div class="col-8 col-sm-7">
                                                <span class="font-size-12 text-uppercase  text-white ">
                                                    @CmsFunction.NumberFormatShow(item.CountOrder)
                                                </span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4 col-sm-5">
                                                <span class="font-size-12 text-uppercase  text-white ">Tổng tiền</span>
                                            </div>
                                            <div class="col-8 col-sm-7">
                                                <span class="font-size-12 text-uppercase  text-white ">
                                                    @CmsFunction.NumberFormatShow(item.PriceOrder) <u>đ</u>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="icon">
                                        @if (item.Type == 0)
                                        {
                                            <i class="nav-icon fa-solid fa-arrow-right-to-bracket"></i>

                                        }
                                        else if (item.Type == 1)
                                        {
                                            <i class="nav-icon fa-solid fa-truck-fast"></i>

                                        }
                                        else if (item.Type == 2)
                                        {
                                            <i class="nav-icon fa-solid fa-circle-check"></i>

                                        }
                                        else if (item.Type == 3)
                                        {
                                            <i class="nav-icon fa-solid fa-ban"></i>

                                        }
                                    </div>
                                    @if(isShowDetail == true){
                                        <a href="#" class="small-box-footer" onclick="onclickShow('@item.Date',' @item.Type' )">
                                              Xem chi tiết <i class="fas fa-arrow-circle-right"></i>
                                         </a>
                                    }
                                   
                                </div>
                                </div>
                        }
                    </div>
                </div>
                
            </div>
            @using (Html.BeginScripts())
            {
                <script type="text/javascript" src="~/js/Admin/Home/index.js" asp-append-version="true"></script>
                <script type="text/javascript">
                    function onclickShow(date, type){
                        showDetailOrder(date, type);
                    }
                </script>
            }  
        }
    }
}



