@using CMS_EF.Models.Products
@using CMS.Areas.Products.Const
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using CMS_Access.Repositories.Products
@using CMS_Lib.Util
@using CMS.Config.Consts
@model CMS.Models.ModelContainner.ModelCollection
@{
    Layout = null;
    var product = Model.GetModel<Products>("Product");
    var images = Model.GetModel<List<ProductImage>>("Images");
    var isCensorshipPrice = Model.GetModel<bool>("isCensorshipPrice");
    var isCensorshipContent = Model.GetModel<bool>("isCensorshipContent");
    var isCensorshipImage = Model.GetModel<bool>("isCensorshipImage");
    var listPro = Model.GetModel<List<ProductPrList>>("ListPro");
    var listS = Model.GetModel<List<ProductSimilar>>("ListS");
    string backUrl = Model.GetModel<string>("backUrl");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@product.Name</title>
    <link rel="icon" type="image/x-icon" href="/images/PreviewProduct/favicon.ico">
    <link rel="stylesheet" href="/css/PreviewProduct/vendor.min.css">
    <link rel="stylesheet" href="/css/PreviewProduct/app.min.css">
    <link rel="stylesheet" href="/css/PreviewProduct/product.min.css">
    <link href="/css/ProductCensorship/Details.css" rel="stylesheet">
</head>
<body>
<header>
    <div class="container">
        <div class="row">
            <div class="col-logo">
                <a href="#">
                    <img class="logo" src="/images/PreviewProduct/logo.svg" alt="dai-ichi-life">
                </a>
            </div>
            <div class="col col-search">
                <form method="get" class="form-search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Nhập tên sản phẩm để tìm kiếm...">
                        <div class="input-group-prepend">
                            <button type="button" class="btn btn-red-heavy">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-customer-tool-bar">
                <div class="hotline-combobox">
                    <div class="hotline-combobox__icon">
                        <i class="fas fa-phone"></i>
                    </div>
                    <div class="hotline-combobox__info">
                        <div class="hotline-combobox__title">
                            <p>Hotline</p>
                        </div>
                        <div class="hotline-combobox__content">
                            <p>
                                <strong>0857 456 996 - 0902 624 996</strong>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="customer-tool-bar">
                    <a class="customer-tool-bar__notification popup-count-number toggle-show"
                       data-target="#notification-box" data-count="+99" href="#">
                        <i class="fas fa-bell"></i>

                    </a>
                    <div class="customer-tool-bar__login">
                        <a class="customer-tool-bar__info" href="#">
                            <i class="fas fa-user"></i>
                            <p class="customer-name">
                                Nguyễn Huỳnh Minh Anh<br>
                                <strong class="customer-point">
                                    (1200
                                    điểm)
                                </strong>
                            </p>
                        </a>
                    </div>
                    |
                    <div class="customer-tool-bar__register">
                        <a href="#">Thoát</a>
                    </div>
                </div>
                <div id="notification-box" class="notification-box popup-box">
                    <div class="notification-box__header">
                        <h3>Thông báo</h3>
                    </div>
                    <div class="notification-box__body">
                        <ul class="notification-items">
                            <li class="notification-item">
                                <a href="#">
                                    <small class="notification-item__time">19/08/2022 11:39</small>
                                    <h3 class="notification-item__title">Đặt hàng thành công</h3>
                                    <p class="notification-item__content">Mã đơn hàng của bạn: xxxxxxxxxxx</p>
                                </a>
                            </li>
                            <li class="notification-item">
                                <a href="#">
                                    <small class="notification-item__time">16/08/2022 06:23</small>
                                    <h3 class="notification-item__title">Khuyến mãi tưng bừng - Chào mừng ra mắt</h3>
                                    <p class="notification-item__content">
                                        Nhân dịp ra mắt hệ thống quà tặng, từ ngày
                                        05/09/2022 Daiichi Life dành tặng 600 phần quà khuyến mãi cực hấp dẫn dành cho
                                        những
                                        khách hàng đầu tiên.
                                    </p>
                                </a>
                            </li>
                            <li class="notification-item">
                                <a href="#">
                                    <small class="notification-item__time">16/08/2022 06:23</small>
                                    <h3 class="notification-item__title">Lựa chọn quà tặng cho dịp Trung Thu</h3>
                                    <p class="notification-item__content">
                                        Nhân dịp ra mắt hệ thống quà tặng, từ ngày
                                        05/09/2022 Daiichi Life dành tặng 600 phần quà khuyến mãi cực hấp dẫn dành cho
                                        những
                                        khách hàng đầu tiên.
                                    </p>
                                </a>
                            </li>
                            <li class="notification-item">
                                <a href="#">
                                    <small class="notification-item__time">16/08/2022 06:23</small>
                                    <h3 class="notification-item__title">Bạn được tặng 1 mã COUPON</h3>
                                    <p class="notification-item__content">Bạn được tặng 1 mã COUPON.</p>
                                </a>
                            </li>
                        </ul>

                    </div>
                    <div class="notification-box__footer">
                        <a href="#">Xem tất cả</a>
                    </div>
                </div>
            </div>
            <div class="col col-mobile">
                <div class="customer-tool-bar-mobile">
                    <a class="customer-tool-bar-mobile__notification popup-count-number  mobile-menu-toggler"
                       data-target="#notification-box-mobile" data-count="+99">
                        <i class="fas fa-bell"></i>
                    </a>
                    <a class="customer-tool-bar-mobile__profile mobile-menu-toggler" data-target="#customer-profile">
                        <i class="fas fa-user"></i>
                    </a>
                    <a class="customer-tool-bar-mobile__cart popup-count-number" href="#" data-count="+99">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<nav class="navbar navbar-expand-xl navbar-red-heavy">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Trang chủ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Khuyến mại</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Thông tin tham khảo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Liên hệ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Kiểm tra đơn hàng</a>
                </li>
            </ul>
            <a class="nav-link nav-cart popup-count-number" href="#" data-count="+99">
                <i class="fas fa-shopping-cart"></i>
            </a>
        </div>
        <div class="collapse-mobile">
            <button class="toggle-mobile-menu mobile-menu-toggler" data-target="#mobile-menu">
                <i class="fas fa-bars"></i>
            </button>
            <form method="get" class="form-search">
                <div class="input-group">
                    <input type="text" class="form-control form-control-sm"
                           placeholder="Nhập tên sản phẩm để tìm kiếm...">
                    <div class="input-group-prepend">
                        <button type="button" class="btn btn-sm btn-yellow">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</nav>
<div id="mobile-menu" class="container-mobile-menu">
    <div class="mobile-menu">
        <div class="mobile-menu-header">
            <img class="logo" src="/images/PreviewProduct/logo.svg" alt="dai-ichi-life">
            <button class="mobile-close" data-target-close="#mobile-menu">
                <i class="fas fa-times"></i>
            </button>
        </div>
        <div class="mobile-menu-body">
            <ul class="mobile-menu-items">
                <li class="mobile-menu-item bold has-children">
                    <a class="mobile-menu-item-link mobile-menu-toggler mobile-close" data-target-close="#mobile-menu"
                       data-target="#mobile-menu-product">
                        Danh mục sản phẩm
                    </a>
                </li>
                <li class="mobile-menu-item bold">
                    <a class="mobile-menu-item-link" href="#">Trang chủ</a>
                </li>
                <li class="mobile-menu-item bold">
                    <a class="mobile-menu-item-link" href="#">Khuyến mãi</a>
                </li>
                <li class="mobile-menu-item bold">
                    <a class="mobile-menu-item-link" href="#">Thông tin tham khảo</a>
                </li>
                <li class="mobile-menu-item bold">
                    <a class="mobile-menu-item-link" href="#">Liên hệ</a>
                </li>
                <li class="mobile-menu-item bold">
                    <a class="mobile-menu-item-link" href="#">Kiểm tra đơn hàng</a>
                </li>
            </ul>
        </div>
        <div class="mobile-menu-footer">
            <div class="hotline-combobox">
                <div class="hotline-combobox__icon">
                    <i class="fas fa-phone"></i>
                </div>
                <div class="hotline-combobox__info">
                    <div class="hotline-combobox__title">
                        <p>Hotline</p>
                    </div>
                    <div class="hotline-combobox__content">
                        <p>
                            <strong>0857 456 996 - 0902 624 996</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mobile-menu-backdrop" data-target-close="#mobile-menu"></div>
</div>
<div id="mobile-menu-product" class="container-mobile-menu">
    <div class="mobile-menu">
        <div class="mobile-menu-header">
            <img class="logo" src="/images/PreviewProduct/logo.svg" alt="dai-ichi-life">
            <button class="mobile-close" data-target-close="#mobile-menu-product">
                <i class="fas fa-times"></i>
            </button>
        </div>
        <div class="mobile-menu-body">
            <ul class="mobile-menu-items">
                <li class="mobile-menu-item back">
                    <a class="mobile-menu-item-link mobile-menu-toggler mobile-close"
                       data-target-close="#mobile-menu-product" data-target="#mobile-menu">
                        Quay lại
                    </a>
                </li>
                <li class="mobile-menu-item">
                    <a class="mobile-menu-item-link" href="#">Tất cả sản phẩm</a>
                </li>
                <li class="mobile-menu-item has-children children-dropdown">
                    <a class="mobile-menu-item-link" href="#">Áo mưa - Ô dù - Nón bảo hiểm</a>
                    <ul class="mobile-menu-items children">
                        <li class="mobile-menu-item">
                            <a class="mobile-menu-item-link" href="#">Balo - Túi xách</a>
                        </li>
                        <li class="mobile-menu-item">
                            <a class="mobile-menu-item-link" href="#">Ly - Bình nước</a>
                        </li>
                        <li class="mobile-menu-item">
                            <a class="mobile-menu-item-link" href="#">Áo thun - Áo Sơ Mi</a>
                        </li>
                    </ul>
                </li>
                <li class="mobile-menu-item">
                    <a class="mobile-menu-item-link" href="#">Balo - Túi xách</a>
                </li>
                <li class="mobile-menu-item">
                    <a class="mobile-menu-item-link" href="#">Ly - Bình nước</a>
                </li>
                <li class="mobile-menu-item">
                    <a class="mobile-menu-item-link" href="#">Áo thun - Áo Sơ Mi</a>
                </li>
                <li class="mobile-menu-item">
                    <a class="mobile-menu-item-link" href="#">Đồng hồ</a>
                </li>
                <li class="mobile-menu-item">
                    <a class="mobile-menu-item-link" href="#">Văn phòng phẩm</a>
                </li>
                <li class="mobile-menu-item">
                    <a class="mobile-menu-item-link" href="#">Quà cho bé</a>
                </li>
                <li class="mobile-menu-item">
                    <a class="mobile-menu-item-link" href="#">Quà Tặng VIP</a>
                </li>
            </ul>
        </div>
        <div class="mobile-menu-footer">
            <div class="hotline-combobox">
                <div class="hotline-combobox__icon">
                    <i class="fas fa-phone"></i>
                </div>
                <div class="hotline-combobox__info">
                    <div class="hotline-combobox__title">
                        <p>Hotline</p>
                    </div>
                    <div class="hotline-combobox__content">
                        <p>
                            <strong>0857 456 996 - 0902 624 996</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mobile-menu-backdrop" data-target-close="#mobile-menu-product"></div>
</div>
<div id="customer-profile" class="container-mobile-menu">
    <div class="mobile-menu">
        <div class="mobile-menu-header">
            <img class="logo" src="/images/PreviewProduct/logo.svg" alt="dai-ichi-life">
            <button class="mobile-close" data-target-close="#customer-profile">
                <i class="fas fa-times"></i>
            </button>
        </div>
        <div class="mobile-menu-body">
            <ul class="mobile-menu-items">
                <li class="mobile-menu-item bold">
                    <div class="profile-info">
                        <i class="fas fa-user icon-profile"></i>
                        <h3 class="h3 profile-name">Nguyễn Huỳnh Minh Anh</h3>
                    </div>
                </li>
                <li class="mobile-menu-item bold">
                    <a class="mobile-menu-item-link" href="#">Thông tin tài khoản</a>
                </li>
                <li class="mobile-menu-item bold">
                    <a class="mobile-menu-item-link" href="#">Thoát</a>
                </li>
            </ul>
        </div>
        <div class="mobile-menu-footer">
            <div class="hotline-combobox">
                <div class="hotline-combobox__icon">
                    <i class="fas fa-phone"></i>
                </div>
                <div class="hotline-combobox__info">
                    <div class="hotline-combobox__title">
                        <p>Hotline</p>
                    </div>
                    <div class="hotline-combobox__content">
                        <p>
                            <strong>0857 456 996 - 0902 624 996</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mobile-menu-backdrop" data-target-close="#customer-profile"></div>
</div>
<div id="notification-box-mobile" class="container-mobile-menu">
    <div class="mobile-menu mobile-notification">
        <div class="mobile-menu-header">
            <h3>Thông báo</h3>
            <button class="mobile-close" data-target-close="#notification-box-mobile">
                <i class="fas fa-times"></i>
            </button>
        </div>
        <div class="mobile-menu-body">
            <ul class="notification-items">
                <li class="notification-item">
                    <a href="#">
                        <small class="notification-item__time">19/08/2022 11:39</small>
                        <h3 class="notification-item__title">Đặt hàng thành công</h3>
                        <p class="notification-item__content">Mã đơn hàng của bạn: xxxxxxxxxxx</p>
                    </a>
                </li>
                <li class="notification-item">
                    <a href="#">
                        <small class="notification-item__time">16/08/2022 06:23</small>
                        <h3 class="notification-item__title">Khuyến mãi tưng bừng - Chào mừng ra mắt</h3>
                        <p class="notification-item__content">
                            Nhân dịp ra mắt hệ thống quà tặng, từ ngày
                            05/09/2022 Daiichi Life dành tặng 600 phần quà khuyến mãi cực hấp dẫn dành cho những
                            khách hàng đầu tiên.
                        </p>
                    </a>
                </li>
                <li class="notification-item">
                    <a href="#">
                        <small class="notification-item__time">16/08/2022 06:23</small>
                        <h3 class="notification-item__title">Lựa chọn quà tặng cho dịp Trung Thu</h3>
                        <p class="notification-item__content">
                            Nhân dịp ra mắt hệ thống quà tặng, từ ngày
                            05/09/2022 Daiichi Life dành tặng 600 phần quà khuyến mãi cực hấp dẫn dành cho những
                            khách hàng đầu tiên.
                        </p>
                    </a>
                </li>
                <li class="notification-item">
                    <a href="#">
                        <small class="notification-item__time">16/08/2022 06:23</small>
                        <h3 class="notification-item__title">Bạn được tặng 1 mã COUPON</h3>
                        <p class="notification-item__content">Bạn được tặng 1 mã COUPON.</p>
                    </a>
                </li>
            </ul>

        </div>
        <div class="mobile-menu-footer">
            <a class="/notification">Xem tất cả</a>
        </div>
    </div>
    <div class="mobile-menu-backdrop" data-target-close="#notification-box-mobile"></div>
</div>
<div id="tool-bar-preview" class="container-fluid bg-like-footer">
    <div class="row align-items-center">
        <div class="col-12 col-md-2">
            <h3 class="h3 mb-0 text-white">Xem trước</h3>
        </div>
        <div class="col-12 col-md-10 text-right">
            @if (isCensorshipPrice && (product.Org1Status == ProductCensorshipConst.Pending.Status || product.Org1Status == null))
            {
                <button id="ApprovedPrice" data-id="@product.Id" type="button" class="btn btn-sm btn-green mr-10px">
                    Duyệt giá, mã SP
                </button>
            }
            @if (isCensorshipPrice && product.Org1Status != ProductCensorshipConst.NotApproved.Status)
            {
                <button data-toggle="modal" data-target="#NotApprovedPrice" type="button" class="btn btn-sm btn-red mr-10px">
                    Xem lại giá, mã SP
                </button>
                <div class="modal fade text-left" id="NotApprovedPrice" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <form asp-action="NotApprovedPrice" method="post">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Yêu cầu xem lại giá, mã SP</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <input type="hidden" name="productId" value="@product.Id"/>
                                        <input type="hidden" name="backUrl" value="@backUrl"/>
                                        <label for="exampleFormControlTextarea1">Nội dung yêu cầu<span class="text-danger">*</span></label>
                                        <textarea class="form-control" name="Comment" minlength="1" maxlength="250" required="required" id="exampleFormControlTextarea1" rows="3"></textarea>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                    <button type="submit" class="btn btn-danger">Gửi</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            }
            @if (isCensorshipContent && (product.Org2Status == ProductCensorshipConst.Pending.Status || product.Org2Status == null))
            {
                <button id="ApprovedContent" data-id="@product.Id" type="button" class="btn btn-sm btn-green mr-10px">
                    Duyệt nội dung SP
                </button>
            }
            @if (isCensorshipContent && product.Org2Status != ProductCensorshipConst.NotApproved.Status)
            {
                <button type="button" class="btn btn-red btn-sm mr-10px" data-target="#NotApprovedContent" data-toggle="modal">
                    Xem lại nội dung SP
                </button>
                <div class="modal fade text-left" id="NotApprovedContent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <form asp-action="NotApprovedContent" method="post">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Yêu cầu xem lại nội dung SP</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <input type="hidden" name="productId" value="@product.Id"/>
                                        <input type="hidden" name="backUrl" value="@backUrl"/>
                                        <label for="exampleFormControlTextarea1">Nội dung yêu cầu<span class="text-danger">*</span></label>
                                        <textarea class="form-control" name="Comment" minlength="1" maxlength="250" required="required" id="exampleFormControlTextarea1" rows="3"></textarea>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                    <button type="submit" class="btn btn-danger">Gửi</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            }
            @if (isCensorshipImage && (product.Org3Status == ProductCensorshipConst.Pending.Status || product.Org3Status == null))
            {
                <button id="ApprovedImage" data-id="@product.Id" type="button" class="btn btn-sm btn-green mr-10px">
                    Duyệt hình ảnh, màu sắc, thương hiệu
                </button>
            }
            @if (isCensorshipImage && product.Org3Status != ProductCensorshipConst.NotApproved.Status)
            {
                <button type="button" class="btn btn-sm btn-red mr-10px" data-target="#NotApprovedImage" data-toggle="modal">
                    Xem lại hình ảnh, màu sắc, thương hiệu
                </button>
                <div class="modal fade text-left" id="NotApprovedImage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <form asp-action="NotApprovedImage" method="post">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Yêu cầu xem lại hình ảnh, màu sắc, thương hiệu</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <input type="hidden" name="productId" value="@product.Id"/>
                                        <input type="hidden" name="backUrl" value="@backUrl"/>
                                        <label for="exampleFormControlTextarea1">Nội dung yêu cầu<span class="text-danger">*</span></label>
                                        <textarea class="form-control" name="Comment" minlength="1" maxlength="250" required="required" id="exampleFormControlTextarea1" rows="3"></textarea>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                    <button type="submit" class="btn btn-danger">Gửi</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            }
            <a class="btn btn-sm btn-light radius-5 font-weight-bold " href="@backUrl">Quay lại</a>
        </div>
    </div>
</div>
<main>
<section id="breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">

                        <li class="breadcrumb-item">
                            <a href="#">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">@product.Name</a>
                        </li>

                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>

<section id="product">
<div class="container">
<div class="row">
<div class="d-none d-xl-block col-3">
    <div class="card card-categories">
        <div class="card-header">
            <h2>Danh mục</h2>
        </div>
        <div class="card-body">
            <ul class="mobile-menu-items">
                <li class="mobile-menu-item">
                    <a class="mobile-menu-item-link" href="#">Tất cả sản phẩm</a>
                </li>
                <li class="mobile-menu-item has-children children-dropdown">
                    <a class="mobile-menu-item-link">Áo mưa - Ô dù - Nón bảo hiểm</a>
                    <ul class="mobile-menu-items children">
                        <li class="mobile-menu-item">
                            <a class="mobile-menu-item-link" href="#">Balo - Túi xách</a>
                        </li>
                        <li class="mobile-menu-item">
                            <a class="mobile-menu-item-link" href="#">Ly - Bình nước</a>
                        </li>
                        <li class="mobile-menu-item">
                            <a class="mobile-menu-item-link" href="#">Áo thun - Áo Sơ Mi</a>
                        </li>
                    </ul>
                </li>
                <li class="mobile-menu-item">
                    <a class="mobile-menu-item-link" href="#">Balo - Túi xách</a>
                </li>
                <li class="mobile-menu-item">
                    <a class="mobile-menu-item-link" href="#">Ly - Bình nước</a>
                </li>
                <li class="mobile-menu-item">
                    <a class="mobile-menu-item-link" href="#">Áo thun - Áo Sơ Mi</a>
                </li>
                <li class="mobile-menu-item">
                    <a class="mobile-menu-item-link" href="#">Đồng hồ</a>
                </li>
                <li class="mobile-menu-item">
                    <a class="mobile-menu-item-link" href="#">Văn phòng phẩm</a>
                </li>
                <li class="mobile-menu-item">
                    <a class="mobile-menu-item-link" href="#">Quà cho bé</a>
                </li>
                <li class="mobile-menu-item">
                    <a class="mobile-menu-item-link" href="#">Quà Tặng VIP</a>
                </li>
                <li class="mobile-menu-item has-children children-dropdown">
                    <a class="mobile-menu-item-link" href="#">Xem thêm</a>
                </li>
            </ul>
        </div>
    </div>


    <div class="card card-ads-image">
        <a href="#">
            <img src="/images/PreviewProduct/design/widgetAds1.png" alt="">
        </a>
    </div>

    <div class="card card-ads-image">
        <a href="#">
            <img src="/images/PreviewProduct/design/widgetAds2.png" alt="">
        </a>
    </div>

    <div class="card card-ads-image">
        <a href="#">
            <img src="/images/PreviewProduct/design/widgetAds3.png" alt="">
        </a>
    </div>


</div>
<div class="col-12 col-xl-9">
<div class="product-info">
    <div class="product-info__images">
        <div class="product-preview-slide owl-carousel owl-theme">
            <div class="product-image-item"
                 data-dot="<button style='background-image: url(@(product.Image));'></button>">
                <img class="product-image" src="@product.Image" alt=""/>
            </div>
            @if (images is {Count: > 0 })
            {
                foreach (var productImage in images)
                {
                    <div class="product-image-item"
                         data-dot="<button style='background-image: url(@(productImage.Link));'></button>">
                        <img class="product-image" src="@(productImage.Link)" alt=""/>
                    </div>
                }
            }
        </div>
        <div class="product-preview-slide-dot">
            <div class="product-preview-slide-owl-carousel-dot"></div>
            @if (images is {Count: > 3 })
            {
                <div class="more-than-4" data-toggle="product-image-preview"data-target="#product-image-preview">
                    Xem thêm 1 hình
                </div>
            }
        </div>
    </div>
    <div class="product-info__action">
        <div class="product-info-action">
            <h1 class="product-info-action__title">@product.Name</h1>
            <div class="product-info-action__feedback">
                <p class="product-info-action__feedback-item">
                    <strong class="product-info-action__feedback-number red">5.0</strong>
                    <span
                        class="product-item__star">
                        <span class="fa-solid fa-star checked"></span>
                        <span class="fa-solid fa-star checked"></span>
                        <span class="fa-solid fa-star checked"></span>
                        <span class="fa-solid fa-star checked"></span>
                        <span class="fa-solid fa-star checked"></span>
                    </span>
                </p>
                <span class="product-info-action__feedback-separate">|</span>
                <p class="product-info-action__feedback-item">
                    <strong class="product-info-action__feedback-number">0</strong>Đánh giá
                </p>
                <span class="product-info-action__feedback-separate">|</span>
                <p class="product-info-action__feedback-item">
                    <strong class="product-info-action__feedback-number">0</strong>Đã bán
                </p>
            </div>
            <hr class="product-info-action__hr">
            <div class="product-info-action__status">
                <label class="product-info-action__status-label">Trạng thái</label>
                <span class="product-info-action__status-badge">
                    <i class="fa-solid fa-check"></i>còn hàng
                </span>
            </div>
            <div class="product-info-action__price">
                @if (product.PriceSale != null && product.PriceSale != 0)
                {
                    <p class="old-price">@CmsFunction.NumberFormatShow(product.PriceSale)đ</p>
                }
                <p class="new-price">@CmsFunction.NumberFormatShow(listS[0].Price)đ</p>
            </div>
            <hr class="product-info-action__hr">
            <p class="product-info-action__desc">@Html.Raw(product.Lead)</p>
            <hr class="product-info-action__hr">
            <div class="product-info-action__options">
            @if (listPro.Count > 0)
            {
                @foreach (var item2 in listPro)
                {
                    <div class="product-info-action__option">
                        <label class="product-info-action__opt-label">@item2.Name</label>
                        <div class="product-info-action__option-items">
                            @foreach (var item3 in item2.ListValueName)
                            {
                                <div class="product-info-action__option-item">
                                    <input type="radio" name="radio-color" id="radio-color@(item3)">
                                    <label for="radio-color@(item3)">@item3</label>
                                </div>
                            }
                        </div>
                    </div>
                }
            }
            </div>
            <div class="product-info-action__btn">
                <button class="btn btn-red-heavy w-sm-100">Thêm vào giỏ hàng</button>
                <button class="btn btn-red w-sm-50">Đặt hàng</button>
                <button class="btn btn-yellow w-sm-50">Đặt hàng trước</button>
            </div>
        </div>
    </div>
</div>
<div class="product-card">
    <div class="product-card-header">
        <h2>Mô tả sản phẩm</h2>
    </div>
    <div class="product-card-body">
        @Html.Raw(product.Description)
    </div>
</div>
<div class="product-card">
    <div class="product-card-header">
        <h2>Đánh giá</h2>
    </div>
    <div class="product-card-body">
        <div class="rating-filters">
            <p class="rating-filters__start">
                <strong class="rating-filters__start-number">5.0</strong>
                <span
                    class="product-item__star">
                    <span class="fa-solid fa-star checked"></span>
                    <span class="fa-solid fa-star checked"></span>
                    <span class="fa-solid fa-star checked"></span>
                    <span class="fa-solid fa-star checked"></span>
                    <span class="fa-solid fa-star checked"></span>
                </span>
            </p>
            <div class="rating-filter">
                <div class="rating-filter__item">
                    <input type="radio" name="start" checked="" id="start0" value="">
                    <label for="start0">Tất cả</label>
                </div>
                <div class="rating-filter__item">
                    <input type="radio" name="start" checked="" id="start5" value="">
                    <label for="start5">5 sao (2)</label>
                </div>
                <div class="rating-filter__item">
                    <input type="radio" name="start" checked="" id="start4" value="">
                    <label for="start4">4 sao (2)</label>
                </div>
                <div class="rating-filter__item">
                    <input type="radio" name="start" checked="" id="start3" value="">
                    <label for="start3">3 sao (2)</label>
                </div>
                <div class="rating-filter__item">
                    <input type="radio" name="start" checked="" id="start2" value="">
                    <label for="start2">2 sao (2)</label>
                </div>
                <div class="rating-filter__item">
                    <input type="radio" name="start" checked="" id="start1" value="">
                    <label for="start1">1 sao (2)</label>
                </div>
            </div>
        </div>
        <div class="product-comments">
            <div class="product-comment">
                <div class="product-comment__avatar"></div>
                <div class="product-comment__info">
                    <p class="product-comment__customer">anh9ok</p>
                    <p class="product-item__star">
                        <span class="fa-solid fa-star checked"></span>
                        <span class="fa-solid fa-star checked"></span>
                        <span class="fa-solid fa-star checked"></span>
                        <span class="fa-solid fa-star checked"></span>
                        <span class="fa-solid fa-star checked"></span>
                    </p>
                    <p class="product-comment__time">
                        <span>2022-07-07 22:34</span>|
                        <span>Phân loại hàng: Thông thường</span>
                    </p>
                    <p class="product-comment__badges">
                        <span class="product-comment__badge">Chất lượng tuyệt vời</span>
                        <span class="product-comment__badge">Chuyên nghiệp, thân thiện</span>
                    </p>
                    <p class="product-comment__content">
                        Vô cùng ưng ý luôn! Như hình vậy đó! So với
                        giá thì thật sự rẻ và rất đáng mua dùng mọi người ạ! Cám ơn shop vì sự uy
                        tín! Tôi sẽ tiếp tục ủng hộ các bạn!
                    </p>
                </div>
            </div>
            <div class="product-comment">
                <div class="product-comment__avatar"></div>
                <div class="product-comment__info">
                    <p class="product-comment__customer">anh9ok</p>
                    <p class="product-item__star">
                        <span class="fa-solid fa-star checked"></span>
                        <span class="fa-solid fa-star checked"></span>
                        <span class="fa-solid fa-star checked"></span>
                        <span class="fa-solid fa-star"></span>
                        <span class="fa-solid fa-star"></span>
                    </p>
                    <p class="product-comment__time">
                        <span>2022-07-07 22:34</span>|
                        <span>Phân loại hàng: Thông thường</span>
                    </p>
                    <p class="product-comment__badges">
                        <span class="product-comment__badge">Chất lượng tuyệt vời</span>
                        <span class="product-comment__badge">Chuyên nghiệp, thân thiện</span>
                    </p>
                    <p class="product-comment__content">
                        Vô cùng ưng ý luôn! Như hình vậy đó! So với
                        giá thì thật sự rẻ và rất đáng mua dùng mọi người ạ! Cám ơn shop vì sự uy
                        tín! Tôi sẽ tiếp tục ủng hộ các bạn!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div id="product-image-preview" class="product-image-preview-modal">
    <div class="product-image-preview-modal__header">
        <h2 class="product-image-preview-modal__title">@product.Name</h2>
        <a class="product-image-preview-modal__close" data-target="#product-image-preview">
            <i class="fa-solid fa-xmark"></i>
        </a>
    </div>
    <div class="product-image-preview-modal__body">
        <div class="product-image-preview-modal__slider owl-carousel owl-theme">
            <div class="product-image-item"
                 data-dot="<button style='background-image: url(@(product.Image));'></button>">
                <img class="product-image" src="@(product.Image)" alt=""/>
            </div>
            @if (images is {Count: > 0 })
            {
                foreach (ProductImage productImage in images)
                {
                    <div class="product-image-item"
                         data-dot="<button style='background-image: url(@(productImage.Link));'></button>">
                        <img class="product-image" src="@(productImage.Link)" alt=""/>
                    </div>
                }
            }
        </div>
        <div class="product-image-preview-modal__dots">
            <div class="list-dots"></div>
        </div>
    </div>
</div>
</div>
</div>
</section>
<section id="relative-product">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="product-slide col3">
                    <div class="product-slide__title">
                        <h2>Sản phẩm liên quan</h2>
                    </div>
                    <div class="product-slide__body owl-carousel owl-theme">
                        <div class="product-item">
                            <div class="product-item__image">
                                <img class="product-image" src="@product.Image" alt="@product.Name">
                            </div>
                            <div class="product-item__info">
                                <a href="#">
                                    <h2 class="product-item__title">@product.Name</h2>
                                </a>
                                <div class="product-item__star">
                                    <span class="fa-solid fa-star checked"></span>
                                    <span class="fa-solid fa-star checked"></span>
                                    <span class="fa-solid fa-star checked"></span>
                                    <span class="fa-solid fa-star checked"></span>
                                    <span class="fa-solid fa-star checked"></span>
                                </div>
                                <div class="product-item__price">
                                     @if (product.PriceSale != null && product.PriceSale != 0)
                                    {
                                        <p class="old-price">@CmsFunction.NumberFormatShow(product.PriceSale)đ</p>
                                    }
                                    <p class="new-price">@CmsFunction.NumberFormatShow(listS[0].Price)đ</p>
                                </div>
                                <a class="btn btn-outline-red-heavy w-100 btn-has-icon" href="#">
                                    <i class="fas fa-shopping-cart mr-2"></i>Chọn mua
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="product-slide__footer">
                        <a href="#">Xem thêm >></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
</main>
<footer class="footer">
    <div class="footer-container">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer-col">
                        <h3>THÔNG TIN LIÊN HỆ</h3>
                        <ul class="footer-content footer-content-contact">
                            <li>
                                <h3>Công ty CP Giải pháp Công nghệ Việt Nam.</h3>
                            </li>
                            <li>
                                <strong>Hà Nội:</strong> Tầng 1, Tòa Sông Đà 9, số 2 Nguyễn Hoàng, Quận Nam Từ Liêm,
                                TP.Hà Nội.
                            </li>
                            <li>
                                <strong>Hồ Chí Minh:</strong> Số 10, đường số 4, khu đô thị Him Lam, Phường Tân Hưng,
                                Quận 7, TP.HCM.
                            </li>
                            <li>
                                <strong>Số điện thoại:</strong>
                                <a href="tel:0857 456 996" class="hot-line">
                                    0857 456
                                    996
                                </a>
                            </li>
                            <li><strong>Giấy chứng nhận KĐKD:</strong> 0102185180 - Ngày cấp: 14/3/2007.</li>
                            <li><strong>Nơi cấp:</strong> Sở Kế Hoạch và Đầu Tư thành phố Hà Nội.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="footer-col">
                        <h3>HỖ TRỢ KHÁCH HÀNG</h3>
                        <ul class="footer-content">
                            <li>
                                <strong>Email:</strong>
                                <a href="mailto:quatang.daiichilife@vets.com.vn"
                                   class="hot-line">
                                    quatang.daiichilife@vets.com.vn
                                </a>
                            </li>
                            <li>
                                <strong>Hotline:</strong> <a href="tel:0857 456 996" class="hot-line">0857 456 996</a> |
                                <a href="tel:0857 456 996" class="hot-line">0902 624 996</a>
                            </li>
                            <li>
                                <a href="#">Điều khoản sử dụng</a>
                            </li>
                            <li>
                                <a href="#">Hướng dẫn đặt hàng</a>
                            </li>
                            <li>
                                <a href="#">Câu hỏi thường gặp</a>
                            </li>
                            <li>
                                <ul class="footer_social_list">
                                    <li class="footer_social_item si_gmail">
                                        <a
                                            href="mailto:quatang.daiichilife@vets.com.vn">
                                        </a>
                                    </li>
                                    <li class="footer_social_item si_phone">
                                        <a href="https://wa.me/+84522596201"></a>
                                    </li>
                                    <li class="footer_social_item si_zalo">
                                        <a href="https://zalo.me/0522596201"></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="footer-col">
                        <h3>VỀ DAI-ICHI LIFE GIFT CENTER</h3>
                        <ul class="footer-content">
                            <li>
                                <a href="#">Chính sách đổi trả</a>
                            </li>
                            <li>
                                <a href="#">Chính sách bảo mật</a>
                            </li>
                            <li>
                                <a href="#">Chính sách bảo hành</a>
                            </li>
                            <li>
                                <a href="#">Phương thức đặt hàng</a>
                            </li>
                            <li>
                                <a href="#">Phương thức thanh toán</a>
                            </li>
                            <li>
                                <a href="#">Phương thức giao hàng</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="footer-col">
                        <h3>PHƯƠNG THỨC THANH TOÁN</h3>
                        <div class="footer-content">
                            <img src="/images/PreviewProduct/payment_4.svg" alt="payment">
                            <img src="/images/PreviewProduct/payment_5.svg" alt="payment">
                        </div>
                        <div class="footer-content ">
                            <a target="_blank" href="http://online.gov.vn/Home/WebDetails/80484">
                                <img width="150" src="/images/PreviewProduct/bocongthuong.png" alt="bocongthuong">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 order-lg-1 order-2  ">
                <div class="copyright_content d-flex flex-row align-items-center justify-content-center">
                    <p>Managed by VETS</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/PreviewProduct/vendor.min.js"></script>
<script src="/js/PreviewProduct/app.min.js"></script>
<script src="/js/PreviewProduct/product.min.js"></script>
<script src="/js/ProductCensorship/Details.js"></script>
<script >
    @if (TempData.ContainsKey("ContentMessage") && TempData.ContainsKey("IsShowMessage") && TempData[ResultMessage.IsShowMessage].ToString() == "1" && !string.IsNullOrEmpty(TempData[ResultMessage.ContentMessage].ToString()))
    {
        @Html.Raw("toastr.success('" + TempData["ContentMessage"] + "', \"Thông báo\")")
        TempData.Remove("ContentMessage");
    }
    else if (TempData.ContainsKey("ContentMessage") && TempData.ContainsKey("IsShowMessage") && TempData[ResultMessage.IsShowMessage].ToString() == "-1" && !string.IsNullOrEmpty(TempData[ResultMessage.ContentMessage].ToString()))
    {
        @Html.Raw("toastr.error('" + TempData["ContentMessage"] + "', \"Thông báo\")")
        TempData.Remove("ContentMessage");
    }
</script>
</body>
</html>