@using Castle.Core.Internal
@using CMS_Lib.Util
@model CMS.Areas.Categories.Models.ProductCategory.EditModel

@{
    ViewData["Title"] = "Sửa danh mục sản phẩm | Quản lý danh mục sản phẩm";
    string namePage = "Sửa danh mục sản phẩm";
    string subName = "Quản lý danh mục";
    string subName1 = "Danh mục sản phẩm";
    string Thumbnail = Model.ImageBanner ?? "/images/icon/defaultimage.jpg";
    string ThumbnailMobile = Model.ImageBannerMobile ?? "/images/icon/defaultimage.jpg";

}

<section class="content-header">
    <div class="container-fluid subname">
        <div class="row">
            <div class="col-sm-6 ">
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item">
                        <a>@subName</a>
                    </li>
                    <li class="breadcrumb-item active"><a class="active" asp-area="Categories" asp-action="Index">@subName1</a></li>

                </ol>
            </div>
            <div class="col-sm-6">
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Edit" method="post">
                       <div class="row">
                            <div class="col-xs-12 col-md-8 col-lg-9">
                                 <div class="card">
                                    <div class="card-header ">
                                        <p class="card-title namePageText">@namePage</p>
                                        <div class="float-right">
                                            @await Html.PartialAsync("Partial/BasicAction/Save")
                                        </div>
                                    </div>
                                    <div class="card-body">
                                            <div class="form-horizontal">
                                            <div class="form-group row">
                                                <label class="col-md-3 col-xs-3">Tên <span class="text-danger">*</span></label>
                                                <div class="col-md-9 col-xs-9">
                                                  <input type="text" asp-for="Name" class="form-control form-control-xl"/>
                                                  <span asp-validation-for="Name" class="text-danger"></span>  
                                                </div>
                                            </div>
            
                                            <div class="form-group row">
                                                <label class="col-md-3 col-xs-3">Icon</label>
                                                <div class="col-md-9 col-xs-9">
                                                    <input type="text" asp-for="Font" class="form-control form-control-xl"/>
                                                    <span asp-validation-for="Font" class="text-danger"></span>
                                                </div>
                                            </div>
                                                <div class="form-group row">
                                                    <label class="col-md-3 col-xs-3">Menu cha</label>
                                                    <div class="col-md-9 col-xs-9">
                                                        <select class="form-control   select2" asp-for="Pid">
                                                            <option value="">#</option>
                                                            @if (!Model.ListCategories.IsNullOrEmpty())
                                                            {
                                                                for (var i = 0; i < Model.ListCategories.Count; i++)
                                                                {
                                                                    <option value="@Model.ListCategories[i].Id">@CmsFunction.BindNameParenChild(Model.ListCategories[i].Name, Model.ListCategories[i].Lvl)</option>
                                                                }
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                        </div>
            
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-3">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card file-group">
                                            <div class="card-header">
                                                <h3 class="card-title">
                                                    <i class="fa fa-picture-o" aria-hidden="true"></i>Ảnh
                                                </h3>
                                                <div class="card-tools">
                                                    <a class="btn trigger-select-file btn-tool" title="Previous">
                                                        <i class="fa fa-upload" aria-hidden="true"></i>
                                                    </a>
                                                    <a class="btn trigger-remove-file btn-tool" title="Next">
                                                        <i class="fa fa-times" aria-hidden="true"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <img src="@Thumbnail" class="image-preview" style="width: 100%">
                                                        <input asp-for="ImageBanner" type="hidden" class="form-control image-value" autocomplete="off"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-footer">
                                                <span asp-validation-for="ImageBanner" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card file-group">
                                            <div class="card-header">
                                                <h3 class="card-title">
                                                    <i class="fa fa-picture-o" aria-hidden="true"></i>Ảnh Mobile
                                                </h3>
                                                <div class="card-tools">
                                                    <a class="btn trigger-select-file btn-tool" title="Previous">
                                                        <i class="fa fa-upload" aria-hidden="true"></i>
                                                    </a>
                                                    <a class="btn trigger-remove-file btn-tool" title="Next">
                                                        <i class="fa fa-times" aria-hidden="true"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <img src="@ThumbnailMobile" class="image-preview" style="width: 100%">
                                                        <input asp-for="ImageBannerMobile" type="hidden" class="form-control image-value" autocomplete="off"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-footer">
                                                <span asp-validation-for="ImageBannerMobile" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                    
                       </div>
            
                </form>
            </div>
        </div>
    </div>
</section>
@section Styles
{
    <link rel="stylesheet" href="~/lib/bootstrap-toggle/css/bootstrap-toggle.min.css"/>
    <link rel="stylesheet" href="~/lib/bootstrap-tagsinput/bootstrap-tagsinput.css"/>
}
@section Scripts
{
    <script type="text/javascript" src="~/lib/tinymce/tinymce.min.js"></script>
    <script type="text/javascript" src="~/lib/tinymce/jquery.tinymce.min.js"></script>
    <script type="text/javascript" src="~/js/file-manager-upload/dist/filemanagerupload.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap-toggle/js/bootstrap-toggle.min.js"></script>
    <script type="text/javascript" src="~/js/checkbox.js"></script>
    <script type="text/javascript">
            let mediaManager = new MediaManager({
                        xsrf: $('input:hidden[name="__RequestVerificationToken"]').val(),
                        multiSelect: false,
                        type: 1,
                        confirmDelete: async (DeleteFile) => {
                            let confirm = await Swal.fire({
                                title: 'Bạn có chắc chắn xóa dữ liệu này?',
                                type: 'warning',
                                showCancelButton: true,
                                confirmButtonText: 'Đồng ý',
                                confirmButtonColor: '#ed5565',
                                cancelButtonText: 'Thoát'
                            });
                            if (confirm.value) {
                                DeleteFile();
                            }
                        }
                    });
                
                    let mediaManagerForTiny = new MediaManager({
                        xsrf: $('input:hidden[name="__RequestVerificationToken"]').val(),
                        multiSelect: false,
                        confirmDelete: async (DeleteFile) => {
                            let confirm = await Swal.fire({
                                title: 'Bạn có chắc chắn xóa dữ liệu này?',
                                type: 'warning',
                                showCancelButton: true,
                                confirmButtonText: 'Đồng ý',
                                confirmButtonColor: '#ed5565',
                                cancelButtonText: 'Thoát'
                            });
                            if (confirm.value) {
                                DeleteFile();
                            }
                        }
                    });
                
                    $('img.image-preview').on('click', function () {
                        $(this).closest(".file-group").find('.trigger-select-file').trigger("click");
                    })
                    
                    $(".trigger-select-file").on('click', function () {
                        let imagePreview = $(this).closest(".file-group").find('img.image-preview');
                        let txtValue = $(this).closest(".file-group").find('input.image-value');
                        mediaManager.on('select', function (obj) {
                            if (obj.type == 1) {
                                imagePreview.attr("src", obj.thumbnail);
                                txtValue.val(obj.url);
                            } else {
                                toastr.error("file không được hỗ trợ. file phải là một hình ảnh.", "Thông báo");
                            }
                        })
                        mediaManager.open();
                    })
                
                    $(".trigger-remove-file").on('click', function () {
                        let imagePreview = $(this).closest(".file-group").find('img.image-preview');
                        let txtValue = $(this).closest(".file-group").find('input.image-value');
                        imagePreview.attr("src", '/images/icon/defaultimage.jpg');
                        txtValue.val('');
                    })
        </script>
   
}