@using CMS.Areas.Categories.Const
@using CMS.Areas.Categories.Models
@using CMS_EF.Models.Categories
@using CMS_EF.Models.Products
@using Castle.Core.Internal
@using CMS_Lib.Util
@model CMS.Models.ModelContainner.ModelCollection;
@{
    ViewData["Title"] = "Danh sách danh mục sản phẩm | Quản lý danh mục sản phẩm";
    string namePage = "Danh sách danh mục sản phẩm";
    string subName = "Quản lý danh mục ";
    string subName1 = "Danh mục sản phẩm";
    var listData = Model.GetModel<List<ProductCategory>>("ListData");
    var listCategoryProduct = Model.GetModel<List<ProductCategory>>("ListCategoryProduct");
    string txtKeyword = Model.GetModel<string>("txtKeyword");
    int? pid = Model.GetModel<int?>("pid");
}

<section class="content-header">
    <div class="container-fluid subname">
        <div class="row">
            <div class="col-sm-6 ">
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item">
                        <a>@subName</a>
                    </li>
                    <li class="breadcrumb-item active">@subName1</li>
                </ol>
            </div>
            <div class="col-sm-6">
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header ">
                        <p class="card-title namePageText">@namePage</p>
                        <div class="float-right">
                            @await Html.PartialAsync("Partial/BasicAction/Create", new { area = "Categories" })
                            @await Html.PartialAsync("Partial/BasicAction/DeleteAll", new { area = "Categories", action = "DeleteAll" })
                        </div>
                    </div>
                    <div class="card-body">
                        <form class="row m-b-15" method="get">
                            <div class="col-xs-12 col-sm-6">
                                <input autocomplete="off" name="txtKeyword" class="form-control form-control-xl" placeholder="Nhập tiêu đề" value="@txtKeyword" />
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <select class="form-control form-control-sm input-sm select2" name="pid" asp-for="@pid">
                                    <option value="">Tất cả</option>
                                    @{
                                        if (!listCategoryProduct.IsNullOrEmpty() && listCategoryProduct.Count > 0)
                                        {
                                            foreach (var item in listCategoryProduct)
                                            {
                                                <option value="@item.Id">@CmsFunction.BindNameParenChild(item.Name, item.Lvl)</option>
                                            }
                                        }
                                    }
                                </select>

                            </div>
                            <div class="col-xs-12 col-sm-2">
                                <button type="submit" class="btn btn-danger btn-block filter btn-xl">Tìm kiếm</button>
                            </div>
                        </form>
                        <div class="row">
                            <div class="col-md-12 table-check-all">
                                <div class="row hear-category table-thead">
                                    <div class="w-45-px text-center">
                                        <input type="checkbox" class="i-checks chkAll"/>
                                    </div>
                                    <div class="col-md text-left">
                                        Tên
                                    </div>
                                    <div class="col-md-2 text-left">
                                        Tên ngắn
                                    </div>
                                    <div class="col-md-1 text-left">
                                        Ảnh
                                    </div>
                                    <div class="text-left w-45-px">
                                        Icon
                                    </div>
                                    <div class="w-200-px text-center"></div>
                                </div>
                                <div  class="row m-0 list-group-category" data-id="0">
                                    @if (listData.Count > 0)
                                    {
                                        <partial name="item-category" model='new ItemCategoryViewModel() {ListCategory = listData, Pid = null}'/>
                                    }
                                    else
                                    {
                                        <div class="col-md-12 text-center">
                                            Không có dữ liệu
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>

@section Styles
{
    <link rel="stylesheet" href="~/css/ProductCategory/category.css"/>
}

@section Scripts
{
    <link rel="stylesheet" href="~/lib/bootstrap-toggle/css/bootstrap-toggle.min.css"/>
    <script type="text/javascript" src="~/lib/bootstrap-toggle/js/bootstrap-toggle.min.js"></script>
    <script type="text/javascript" src="~/lib/sortablejs/Sortable.min.js"></script>
    <script type="text/javascript" src="~/js/ProductCategory/category.js"></script>
}