@model CMS.Areas.PointInput.Models.PointInputs.IndexViewModel

@{
    string title = Model.Title;
    ViewData["Title"] = $"{title}  | Quản lý điểm";
    var listData = Model.ListData;
}


<section class="content-header">
    <div class="container-fluid subname">
        <div class="row">
            <div class="col-sm-6 ">
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item">
                        <a>@title</a>
                    </li>
                </ol>
            </div>
            <div class="col-sm-6">
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header ">
                        <p class="card-title namePageText">@title</p>
                        <div class="float-right">
                            @if (Model.IsUploadFile)
                            {
                                <a class="btn bg-gradient-primary btn-sl" asp-action="UpFile">
                                    <i class="fa-solid fa-arrow-up-from-line"></i> Nhập dữ liệu
                                </a>
                            }
                            @await Html.PartialAsync("Partial/BasicAction/DeleteAll", new { area = "Products", action = "DeleteAll" })
                        </div>
                    </div>
                    <div class="card-body">
                        <form class="row" method="get">
                            <div class="col-xs-12 col-sm-4">
                                <input autocomplete="off" name="txtSearch" class="form-control form-control-xl" placeholder="Mã phiếu yêu cầu" value="@(listData.RouteValue!["txtSearch"] ?? "")"/>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <div class="input-group input-group-xl">
                                    <input type="text" class="input-xl form-control datepicker" placeholder="Từ ngày" autocomplete="off" name="startDate" asp-format="{0:dd/MM/yyyy}" asp-for="@listData.RouteValue["startDate"]"/>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">đến</span>
                                    </div>
                                    <input type="text" class="input-xl form-control datepicker" placeholder="Đến ngày" autocomplete="off" name="endDate" asp-format="{0:dd/MM/yyyy}" asp-for="@listData.RouteValue["endDate"]"/>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <button type="submit" class="btn btn-danger btn-block filter btn-xl">Tìm kiếm</button>
                            </div>
                        </form>
                        <div class="table-responsive tablePaddingTop">
                            <table class="table tab-content table-bordered table-check-all table-hover  table-bordered-index  ">
                                <thead class="table-thead">
                                <tr>
                                     <th class="text-center" style="width: 3%">
                                        <input type="checkbox" class="i-checks chkAll" />
                                    </th>
                                    <th class="align-middle text-center">STT</th>
                                    <th class="text-center align-middle">Mã phiếu yêu cầu</th>
                                    <th class="align-middle text-center">Bộ phận phát hành điểm</th>
                                    <th class="text-center align-middle">Thời gian nhập </th>
                                    <th class="text-center align-middle" style="width: 250px"></th>
                                </tr>
                                </thead>
                                <tbody>
                                @if (listData.Count > 0)
                                {
                                    var index = 1;
                                    @foreach (var item in listData)
                                    {
                                        <tr>
                                            <td class="text-center align-middle">
                                                <input type="checkbox" class="i-checks chkItem" value="@item.Id" />
                                            </td>
                                            <td class="text-center align-middle">
                                                @(index++)
                                            </td>
                                            <td class="align-middle">@item.Code</td>
                                            <td class="align-middle">@item.ReleaseBy</td>
                                            <td class="align-middle text-center  ">
                                                @item.CreatedAt?.ToString("dd/MM/yyyy HH:mm")
                                            </td>
                                            <td class="text-center align-middle">
                                                @await Html.PartialAsync("Partial/BasicActionTable/View", new {id = item.Id})
                                                <a title="Xem" class="btn bg-gradient-success btn-xs btn-s-m mt-1 mb-1" asp-action="DownloadUploadFile" asp-route-id="@item.Id">
                                                    <i class="fas fa-download"></i><span class="d-lg-inline-block d-md-inline-block d-none">&nbsp;Tải file</span>
                                                </a>
                                                @await Html.PartialAsync("Partial/BasicActionTable/Delete", new {id = item.Id})
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="20" class="text-center">Không có dữ liệu</td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                        @await Html.PartialAsync("Partial/BasicActionTable/RecordData", new {DataList = listData})
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>